body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5 {
  margin: 10px 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.App-header h3 {
  margin: 15px 30px;
}

.App-header-right {
  display: flex;
  flex-direction: row;
}

.container {
  background-color: #ebf5f0;
  padding: 3em;
}

.beer-card {
  margin: 50px auto;
  padding: 30px;
  max-width: 500px;
  border: 1px gray solid;
}

/* .divided {
  display: flex;
  margin: 0 auto;
} */

.center {
  margin: 50px auto;
  max-width: 650px;
}

.ui.form {
  display: flex;
  flex-direction: row;
}

.ui.input {
  width: 500px;
}

.box {
  max-width: 650px;
  min-height: 650px;
  border: 1px solid rgba(34,36,38,0.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
}